@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

html{
    /* background */
    background-image: 
    linear-gradient(
    to bottom right, 
    rgb(0, 24, 32),
    rgb(0, 34, 31),
    rgb(0, 0, 0));
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    /* size */
    width: 100vw;
    height: 100vh;
}

    body{ /*WHOLE DOC*/
        /* height and width */
        width: 99vw;
        height: 99vh;
        margin: 0 auto;
        /* font */
        font-family: "Barlow Condensed";
        font-size: 2vh;
        color: rgba(202, 202, 202,0.6);
    }
    
        header{
            background-color: rgba(228, 204, 255, 0.2);
            color: rgba(0, 194, 175, 0.8);
            border-radius: 2vh;
            margin: 1vh auto;
            padding: 1vh;
            font-size: 5vh;
            font-weight: bolder;
            font-family: lobster;
            animation: glow 1s ease-in-out infinite alternate;
        }
        	@-webkit-keyframes glow {
			  from {
			    text-shadow: 0 0 0.2vh #fff, 0 0 0.4vh #fff, 0 0 0.6vh rgb(228, 204, 255), 0 0 0.8vh rgb(228, 204, 255), 0 0 0 1vh rgb(228, 204, 255);
			  }
			  
			  to {
			    text-shadow: 0 0 0.4vh #fff, 0 0 0.6vh rgb(223, 255, 251), 0 0 0.8vh rgb(223, 255, 251), 0 0 1vh rgb(223, 255, 251), 0 0 1.2vh rgb(223, 255, 251);
			  }
			}
        
        nav{
        	background-color: rgba(228, 204, 255, 0.2);
        	color: rgba(0, 194, 175, 0.8);
        	border-radius: 2vh;
        	margin: 1vh auto;
            padding: 1vh;
            font-size: 2vh;
            font-family: lobster;  	
        }

        main{
            /* size */
            height: 84vh;
            width: 99vw;
            margin: 0 auto;
            /* scroll */
            overflow: scroll;
            scrollbar-width: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        main > div{
            /* background and set */
            background-color: rgba(228, 204, 255, 0.2);
            border-radius: 3vh;
            /*height width*/
			height: max-content;
			width: fit-content;
            /* margin */
            margin : 1vh auto;
            padding: 1vh;
		    animation: fadeInAnimation ease 3s;
		    animation-iteration-count: 1;
		    animation-fill-mode: forwards;
		}


  
			@keyframes fadeInAnimation {
			    0% {
			        opacity: 0;
			    }
			    100% {
			        opacity: 1;
			     }
			}

	

/*HEADERS*/
h1, h2, h3, h4, h5, h6 {
    font-family: Lobster;
    color:rgba(0, 194, 175, 0.8);
    padding: 0;
    padding-bottom: 0.5vh;
    margin: 0;
}

/* TEXT MANIPULATION */
.accent{
    color:rgba(0, 194, 175, 0.8);
}

.large{
	font-size: 3vh;
}

.emoji{
    font-size: 20vh;
}

.inline{
    display: inline;
    width: auto;
}

/* LINKS */
a {
    color: inherit;
    text-decoration: none;
}

img {
	opacity: 0.5;
	max-width: 30vw;
	animation: fadeInAnimation ease 10s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	border-radius: 10% / 50%;
	filter: grayscale(85%);
}

/* FORMS */
input, select, textarea, select:focus{
    /* background and border */
    background-color: rgba(204, 255, 244, 0.2);
    border: none;
    border-radius: 2vh;
    outline: none;
    /* size */
    box-sizing: border-box;
    width: 100%;
    padding: 1vh 2vh;
    margin: 1vh 0;
    resize: none;
    /* font */
    font-family: "Barlow Condensed";
    font-size: 2vh;
    color: rgba(0, 0, 0, 0.6);
}

/* TABLES */
table{
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: rgba(204, 255, 244, 0.2);
    border: none;
    /* padding and margin */
    padding: 1vh;
    margin: 1vh auto;
    table-layout: fixed;
    word-wrap:break-word;
}

    th {
        padding-top: 1vh;
        padding-bottom: 1vh;
        background-color: rgba(0, 194, 175, 0.8);
        color: white;
        }

    td, th {
    border: 1px solid rgba(240, 248, 255, 0.3);
    padding: 8px;
    }
    
    tr:nth-child(even){
        background-color: rgba(240, 248, 255, 0.15);
    }

    tr:hover {
        background-color: rgba(228, 204, 255, 0.2);
    }
    
ul > li{
	margin: 2vh;
}

/* Half is 800px */
@media only screen and (max-width: 1200px) {
	.block {
    	display: block;
  	}
}

/* Phone is 600px - Tablet 850px */
@media only screen and (max-width: 1000px) {
	img{
		max-width: 98vw;
		max-width: 600px;
	}
	main{
		display: block;
	}
}
